<div class='container'>
    <form ng-submit='addFormData(formData)'>
        <div ng-repeat='page in logTemplate.pages'>
            <br>
            <div ng-repeat='metric in page.metrics'>
                {{logTemplate.metrics[metric].text}}:
                <div>
                  <ac-dynamic-input ac-name="{{metric}}" ac-template="logTemplate" ac-model="formData.metrics[metric]"></ac-dynamic-input>
                </div>
            </div>
            <br>
            <br>
        </div>
        <p ng-show="error" class="text-danger">{{ error }}</p>
        <input type="submit" id="submit" class="btn btn-primary" value="Submit" />
        <a ng-href="#/logView/{{type}}/{{redirect.date}}" ng-show="id" class="btn btn-default">
            Cancel
        </a>
    </form>
</div>
