<div class="row">
    <div class="container">
        <h1>Week of:
            <br>{{ getDayOfWeek() }}, {{ beginningOfWeek | date:'longDate' }}:</h1>
        <div class='row'>
            <div class='col-md-2'>
                <button class='btn btn-success btn-sm' ng-click='changeDay(-7)'>Previous Week</button>
                <br>
            </div>
            <div class='col-md-2'>
                <button class='btn btn-primary btn-sm' ng-click='changeDay(7)'>Following Week</button>
                <br>
                <br>
            </div>
        </div>

        <table id="rangeTable" class='table table-hover' ng-init="predicate = -date">
            <tr>
                <th><a href="" ng:click="predicate = 'metrics.date'; reverse=!reverse">Date</th>
                <th><a href="" ng:click="predicate = 'metrics.distance'; reverse=!reverse">Distance</a>
                </th>
                <th><a href="" ng:click="predicate = 'metrics.timeOfDay'; reverse=!reverse">Time of Day</a>
                </th>
            </tr>
            <tr ng-repeat="(name, entry) in log.entries | dateFilter:beginningOfWeek">
                <td>
                    {{entry.metrics.date | date : 'mediumDate'}}
                </td>
                <td>
                    {{ entry.metrics.distance }} {{ distanceAdder(entry.metrics.distance, name) }}
                </td>
                <td>
                    {{ entry.metrics.timeOfDay }}
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{rangeDistance}}</td>
                <td></td>
            </tr>
        </table>
        <div class='row'>
            <div>

                Go To Date:
                <input type='date' class='form-control' ng-model='formDate'>
                <br>
                <button ng-click='setDate(formDate)'>Go To Date</button>
                <br>

            </div>
        </div>
        <pre>
      {{ log | json }}
    </pre>
    </div>
</div>
