<div class="row">
<!--     ENTRY: {{current.entry}}
    NAME: {{current.name}} -->
    {{ log.$id }}
    <div class="container">
        <h1>Week of:
            <br>{{ getDayOfWeek() }}, {{ beginningOfWeek | date:'longDate' }}:</h1>
        <div>
            <button class="btn btn-success btn-lg" ng-click='changeDay(-7)'>Previous Week</button>
            <button class="btn btn-primary btn-lg" ng-click='changeDay(7)'>Following Week</button>
            <br>
            <br>

        </div>

        <table id="rangeTable" class='table table-hover'>
            <tr>
                <th><a href="">Date</th>
                <th><a href="">Distance</a>
                </th>
                <th><a href="">Time of Day</a>
                </th>
            </tr>
            <tr ng-repeat="(name, entry) in filterDates(log.entries, beginningOfWeek)" ng-class='runTypeTableClass(entry.metrics.runType)' ng-click="setCurrent(name, entry)">
                <td>
                    {{entry.metrics.date | date : 'mediumDate'}}
                </td>
                <td>
                    {{ entry.metrics.distance }}
                </td>
                <td>
                    {{ entry.metrics.timeOfDay }}
                </td>

            </tr>
            <tr>
                <td>Total</td>
                <td>{{rangeDistance}}</td>
                <td></td>
            </tr>
        </table>
        <div class="container well" ng-show="current">
            <div ng-repeat="(metric, value) in current.entry.metrics">
                {{firebase.logs[type].metrics[metric].text}}: {{value}}
            </div>
            <br>
        </div>
        <div>
            <div>

                Go To Date:
                <input type='date' class='form-control' ng-model='formDate'>
                <br>
                <button ng-click='setDate(formDate)'>Go To Date</button>
                <br>

            </div>
        </div>
<!--         <pre>
      {{ log.entries | json }}
    </pre> -->
    </div>
</div>
